@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #40e0d0;
    position: relative;
}


/*Barra Lateral*/
.sidebar{
    position: fixed;
    left: 0;
    height: 100%;
    width: 10vw;
    background: red;
}

.sidebar.active{
    width: 30vw;
}

.sidebar #btn{
    
}

.nav_logo{
    color: wheat;
    text-decoration: none;
    display: flex;
    align-items: center;
}